body {
  font-family: arial;
  background-color: #f4f4f4;
  padding: 30px;
  color: #333;
  background-image: url('./img/image.png');
  background-position: center;
  background-size: cover;
}

.app {
  max-width: 600px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 25px 30px;
  border-radius: 10px;
  margin-bottom: 300px;
}

h1 {
  text-align: center;
}

.todo {
  margin: 2em;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
 
}