* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url('./img/image.png');
  background-position: center;
  background-size: cover;
  padding: 30px;
  font-family: arial;
}

.app {
  max-width: 500px;
  margin: 0 auto;
  background-color: #efefef;
  padding: 35px 30px;
  border-radius: 10px;
  margin-bottom: 300px;
}

h1 {
  text-align: center;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}

button {
  margin: 3px;
  color: #FFF;
  background-color: #333974;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  opacity: .8;
  transition: 0.3s;
  border: none;
}

button:hover {
  opacity: 1;
}

button:active {
  scale: 0.95;
}

p {
  padding: 10px 0;
}

.todo-form {
  margin-bottom: 1.5em;
}

input,
select {
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #DDD;
  border-radius: 4px;
  width: 100%;
}

.todo-list {
  margin-bottom: 20px;
  padding-bottom: 20px;
  background-color: #efefef;
}

.content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 12px;
}


.complete {
  background-color: green;
}

.remove {
  background-color: red;
}